body {
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#chart,
td,
tr,
th {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-collapse: collapse;
    padding: 10px;
    font-family: arial;
}

th {
    padding: 10px;
    width: 100px;
}