body {
    margin: 0px;
    text-align: center;
}

#chart,
td,
tr,
th {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
    padding: 10px;
    font-family: arial;
}

th {
    padding: 10px;
    width: 100px;
}

.naturalRow {
    background-color: rgba(3, 148, 251, 0.248);
}

.sharpRow {
    background-color: rgba(11, 251, 3, 0.166);
}

.flatRow {
    background-color: rgba(239, 251, 3, 0.166);
}

.ocatives {
    background-color: rgb(97, 213, 245)
}